<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<table> 
    <caption>Şirket Giderleri</caption>         (BAŞLIK)
	
	<thead>
	    <tr>
		    <th>Gider Yolu</th>
			<th>Ödeme Tipi</th>        (ALT BAŞLIKLAR)
			<th>Tutar</th>
		</tr>
	
	</thead>
	
	<tbody>
	    <tr>
		  <td>Mutfak</td>                   (SATIRLAR)
		   <td>Nakit</td>
		    <td>2000</td>
		</tr>
		
		<tr>
		  <td>Personel</td>                 
		   <td>Nakit</td>
		    <td>150000</td>
		</tr>
	<tr>
	<td>Kira</td>
	<td>Nakit</td>
	<td>5000</td>
	</tr>
	
	</tbody>
	
	<tfoot>                                  (AYAK)
	<tr>
	   <td>Toplam Gider</td>      
	    <td>157000</td>
	</tr>
	
	</tfoot>
 
 </table>


</body>
</html>